* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #050507;
  color: #f0ede6;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #050507;
}

::-webkit-scrollbar-thumb {
  background: #c8a96e33;
}

::-webkit-scrollbar-thumb:hover {
  background: #c8a96e66;
}
